.layout_Main
{
	/* min-width: 1500px; */
	/* max-width: 1900px; */
  width: 100%;
  height: 100%;
	margin: auto;
	/* display: grid; */
	/* grid-template-columns: repeat(3, 1fr); */
	grid-template-rows: auto 1fr auto auto;
	min-height: 100vh;
	margin-top: 30px;
}

.layout_Header
{	
	/* grid-column: 1 / 4; */
	/* grid-row: 1 / 2; */
  display: flex;
  justify-content: center;

	position:fixed;
	top: 0;
	left: 0;
	width: 100%;
	/* min-width: 1500px; */
	z-index: 999999;
	padding:10px 0px;
	background-color: white;
	border-bottom: 1px solid lightgray;
	display: flex;
}

.layout_Footer_Buttons
{
	width: 100%;
	left: 0;
	/* grid-column: 1 / 4; */
	/* grid-row: 3 / 4; */
	border-top: 1px solid black;
	border-bottom: 1px solid lightgray;

	display: flex;
  justify-content: center;
}

.layout_Footer_Info
{	
	/* grid-column: 1 / 4; */
	/* grid-row: 4 / 5; */

	display: flex;
	justify-content: center;
	font-size: 13px;
	margin: 10px 0px;
	color: gray;
}

.header_Logo
{
	background-color: white; 
  border: none;

	/* margin-left: 20%; */
	/* margin-right: 4%; */
  margin-right : 76px;
}

.header_Logo img
{
	width: 50px;
	height: 50px;
}

.header_Manager
{
	color: black;
	text-align: center;
	font-size: 16px;
	font-weight: 550;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	align-content: center;
}
 
.header_Menu, .header_User
{
	color: black;
	text-align: center;
	font-size: 16px;
	font-weight: 550;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	align-content: center;
}
       
.header_Menu
{
	margin: 0px 20px;	
}
         
.header_Menu:hover 
{
	color: #FF3636;
}
        
.header_User 
{
	font-size: 13px;
	font-weight: 500;
	margin: 0px 10px;	
}
        
.header_User:hover 
{
	color: #FF3636;
}

.header_User_First
{
	/* margin-left: 5%; */
  margin-left: 95px;
}

.header_Manager_Text
{
	font-size: 13px;
	font-weight: 500;
	margin-top: 10px;	
	margin-left: 627px;
}

.header_User_Text
{
	font-size: 13px;
	font-weight: 500;
	margin-top: 10px;	
	margin-left: 53px;
	margin-right: 10px;
}

.header_User_Menu
{
	text-align: right;
	margin: 5px 12px;
}

.header_User_Menu_Top
{
	margin-top: 10px;
}

.header_Manager_Menu
{
	text-align: right;
	margin: 5px 0px;
}

.footer_Btn
{
	color: black;
	text-align: center;
	font-size: 13px;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	align-content: center;
	margin: 15px 20px;
}

.footer_Btn_First
{
	/* margin-left: 34%; */
  /* margin-left: 646px; */
}

.footer_Info
{
	text-align: left;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	align-content: center;
	cursor:text;
}

.footer_Info tr:first-child 
{
	color: black;
	font-size: 15px;
}

.footer_Info td:first-child 
{
	padding-right: 100px;
}

.footer_Info td
{
	padding: 12px;
}

::-webkit-scrollbar 
{
	width: 10px;
	height: 10px;
}

::-webkit-scrollbar-track 
{
	background: white;
	border-radius: 10px;
}
  
::-webkit-scrollbar-thumb 
{
	background: gray;
	border-radius: 10px;
}