.layout_Main
{
	min-width: 1500px;
	max-width: 1900px;
	margin: auto;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(23, 40px);
}

.layout_Header
{	
	grid-column: 1 / 4;
	grid-row: 1 / 3;
	border-bottom: 1px solid lightgray;

	display: flex;
}

.layout_Footer
{	
	grid-column: 1 / 4;
	grid-row: 21 / 24;
	border-top: 1px solid lightgray;
}

.header_Logo
{
	background-color: white; 
    border: none;

	margin-left: 25%;
	margin-right: 53px;
}

.header_Logo img
{
	width: 50px;
	height: 50px;
}
 
.header_Menu, .header_User
{
	color: black;
	text-align: center;
	font-size: 16px;
	font-weight: 550;
	cursor: pointer;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	align-content: center;
}
       
.header_Menu
{
	font-size: 16px;
	font-weight: 550;
	margin: 0px 20px;	
}
         
.header_Menu:hover 
{
	color: #FF3636;
}
        
.header_User 
{
	font-size: 13px;
	font-weight: 500;
	margin: 0px 10px;	
}
        
.header_User:hover 
{
	color: #FF3636;
}

.header_User_First
{
	margin-left: 53px;
}