.layout_Store_Item_Regi {
  /* display: grid; */
  /* grid-template-columns: repeat(19, 100px); */
  /* grid-template-rows: repeat(32, 30px); */
  padding-top: 80px;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.box_Store_Item_Add {
  /* grid-column: 6 / 15; */
  width: 90%;
  /* grid-row: 1 / 29; */
  height: 840px;

  display: flex;
  flex-direction: column;
}

.Item_Add_Table,
.Item_Add_Table_Option {
  width: 100%;
  border-collapse: collapse;
  margin: 10px 0px;
}

.Item_Add_Table td:first-child,
.Item_Add_Table_Option tr:first-child td:first-child {
  width: 150px;
}

.Item_Add_Table_Expanded tr:first-child td:first-child {
  width: 130px;
}

.Item_Add_Title {
  border-bottom: 2px solid black;
  font-size: 26px;
  text-align: left;
  width: 100%;
  padding-bottom: 20px;
  margin-bottom: 10px;
}

.Item_Add_Store {
  border: none;
  font-size: 28px;
  font-weight: 800;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
  background-color: white;
}

.Item_Add_Name {
  width: 720px;
  height: 20px;
  outline: none;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
}

.Item_Add_Name:focus {
  border: 1px solid #ff3636;
}

.Item_Add_Img {
  border: 1px solid #ccc;
  width: 200px;
  height: 200px;
}

.Item_Add_Img input {
  display: none;
}

.Item_Add_Img img {
  width: 200px;
  height: 200px;
}

.Item_Add_Img div {
  text-align: center;
  color: #bbb;
}

.Item_Add_Table select {
  width: 222px;
  height: 30px;
  outline: none;
  padding: 0px 5px;
  border: 1px solid #ccc;
}

.Item_Add_Img label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.Item_Add_Price,
.Item_Add_Amount {
  width: 210px;
  height: 30px;
  outline: none;
  padding: 0px 5px;
  border: 1px solid #ccc;
}

.Item_Add_Price:focus,
.Item_Add_Amount:focus {
  border: 1px solid #ff3636;
}

.Item_Add_Table_Option td:nth-child(2),
.Item_Add_Table_Option td:nth-child(3) {
  width: 200px;
}

.Item_Add_Table_Option tr:nth-child(n + 2) {
  font-size: 14px;
  text-align: left;
}

.Item_Add_Table_Option button {
  background-color: white;
  border: 1px solid #ccc;
  width: 70px;
  padding: 4px;
  cursor: pointer;
  margin-left: 10px;
}

.Item_Add_Table_Option button:hover {
  border: 1px solid #ff3636;
}

.Item_Add_Table_Option input {
  width: 200px;
  height: 8px;
  outline: none;
  padding: 10px;
  border: 1px solid #ccc;
}

.Item_Add_Table_Option input:focus {
  border: 1px solid #ff3636;
}

.Item_Add_Content {
  width: 720px;
  height: 80px;
  resize: none;
  outline: none;
  padding: 10px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.Item_Add_Content:focus {
  border: 1px solid #ff3636;
}

.btn_Item_Add {
  width: 130px;
  height: 50px;
  border: none;
  border-radius: 7px;
  background-color: #ff3636;
  color: white;
  font-size: 17px;
  font-weight: 700;
  cursor: pointer;
  margin: 20px 0px;
  margin-right: 20px;
}
