.layout_User
{  
  /* display: grid;
	grid-template-columns: repeat(19, 100px);
	grid-auto-rows: minmax(30px, auto); */
  padding-top: 80px;
  display: flex;
  justify-content: center;
}

.layout_User_Contents
{
  /* grid-column: 6 / 16; */
  width: 1000px;
  grid-auto-rows: minmax(30px, auto);

  display: flex;
  flex-direction: column;
  align-items: center;
}

.box_User_Info
{  
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  margin-top: 60px; 
}

.box_User_Menu
{  
  /* grid-column: 4 / 6; */
  width: 200px;
  grid-auto-rows: minmax(30px, auto);
  
  display: flex;
  flex-direction: column;
  margin: 30px 0px;
}

.btn_User_Menu
{
  border: none;
  background-color: white;
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  cursor: pointer;
  padding: 3px;
  margin: 10px 0px;
  border-bottom: 1px solid lightgray;
}

.box_User_Paid,
.box_User_QNA
{
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10px;
}

.box_User_QNA
{
  margin-top: 20px;
}

.table_User_Paid,
.table_User_QNA
{
  width: 80%;
  border-collapse: collapse;
  border: 1px solid #bbb;
}

.table_User_Paid td,
.table_User_QNA td
{
  padding: 5px;
}

.table_User_Paid tr:first-child td:nth-child(2)
{
  text-align: right;
}

.table_User_Paid tr:nth-child(2) td:first-child
{
  width: 100px;
  padding: 10px;
}

.table_User_Paid tr:nth-child(3)
{
  text-align: center;
  height: 30px;
}

.table_User_Paid tr:nth-child(3) td:nth-child(4)
{
  text-align: right;
}

.table_User_Paid button
{
  width: 100px;
  height: 40px;
  border: none;
  border-radius: 7px;
  background-color: #f8c8c8;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}

.table_User_QNA td:nth-child(2)
{
  width: 15%;
  text-align: center;
}

.table_User_QNA td
{
  border: 1px solid #bbb;
}

.table_User_Paid
{
  margin-bottom: 20px;
}

.table_User_QNA
{
  margin: 10px 0px;
}

.box_User_Cash
{
  display: flex;
  gap: 100px;
  width: 80%;
}

.table_User_Cash 
{
  border-collapse: collapse;
  width: 100%;
  text-align: left;
  border: 1px solid #bbb;
  margin: 20px 0px;
  font-size: 18px;
  font-weight: 500;
}

.table_User_Cash td 
{
  padding: 10px;
}

.table_User_Cash td:nth-child(3)
{
  border-left: 1px solid #ccc;
}

.table_User_Cash td:first-child,
.table_User_Cash td:nth-child(3)
{
  width: 15%;
}

.table_User_Cash td:nth-child(2),
.table_User_Cash td:nth-child(4)
{
  text-align: right;
}

.user_Email			, 
.user_Name			, 
.user_Tel			, 
.user_Addr			, 
.user_Addr_Road			, 
.user_Addr_Detail			, 
.user_Addr_Zip		
{
	width: 300px;
	min-height: 45px;
	font-size: 18px;
	padding: 0 10px;
	outline: none;
	border: 1px solid #ccc;
}

.user_Email		, 
.user_Addr		, 
.user_Addr_Road	
{
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.user_Tel,
.user_Addr,
.user_Addr_Zip
{
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;  
}

.user_Email:focus		, 
.user_Name:focus			, 
.user_Addr:focus		, 
.user_Tel:focus		, 
.user_Addr_Road:focus			,
.user_Addr_Detail:focus		,
.user_Addr_Zip:focus	
{
	position: relative;
	z-index: 10;
	border: 1px solid #FF3636;
}

.user_Name		, 
.user_Tel		, 
.user_Addr_Detail		, 
.user_Addr_Zip
{
	margin-top: -1px;
}

.User_Addr_Search
{	
  position: relative;
  left: 20px; 

	height: 30px;
	width: 60px;

	border: 1px solid #ccc;
	border-radius: 5px;
	background-color: white;
	font-size: 13px;

	cursor: pointer;
}

.User_Addr_Search:hover
{
	color: #FF3636;
	border: 1px solid #FF3636;
}

.user_Addr
{
  margin: 20px 0px;
  margin-left: 60px;
}

.btn_sort_list
{
	border: 1px solid #ccc;
  border-radius: 20px;
  min-width: 80px;
  height: 30px;
  background-color: white;
  cursor: pointer;
  margin-right: 2px;
  margin-top: 0px;
  margin-bottom: 10px;
  font-weight: 600;
}

.box_User_List
{
  width: 80%;
}

.btn_sort_list_selected
{
  background-color: #f8c8c8;
}

.btn_User_Info
{
  width: 100px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 7px;
  background-color: white;
  font-size: 16px;
  cursor: pointer;
  margin: 30px;  
}