/* .fullScreen
{
  display: flex;
  justify-content: center;
  width: 100%;
} */

.layout_Main_Contents
{  
  /* display: grid; */
  width: 100%;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* grid-template-columns: repeat(38, 50px); */
  /* grid-template-columns: repeat(23, 50px); */
  /* grid-auto-rows: minmax(15px, auto); */
  padding-top: 60px;
  height: 100%;
}

.box
{
  display: flex;
}

.box_Category
{  
  /* grid-column: 10 / 11; */
  /* grid-column: 1 / 2; */
  width: 50px;
  /* grid-row: 3 / 7; */
  height: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.box_Category input
{
  width: 40px;
}

.box_Search
{
  /* grid-column: 11 / 28; */
  /* grid-column: 2 / 19; */
  width: 850px;
  /* grid-row: 3 / 7; */
  height: 60px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 20px;
}

.box_Slide
{
  /* grid-column: 10 / 28; */
  /* grid-column: 1 / 19; */
  width: 900px;
  /* grid-row: 9 / 28; */
  height: 285px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box_Wishlist
{
  /* grid-column: 10 / 28; */
  /* grid-column: 1 / 19; */
  width: 900px;
  /* grid-row: 31 / 43; */
  /* height: 244px; */
  padding: 0px 20px;
}

.box_Itemlist
{
  /* grid-column: 10 / 28; */
  /* grid-column: 1 / 19; */
  width: 900px;
  /* grid-row: 45 / 59; */
  /* height: 210px; */
  
  margin-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.box_Cartlist
{
  /* grid-column: 30 / 33; */
  /* grid-column: 21 / 24; */
  width: 150px;
  /* grid-row: 9 / 29; */
  height: 326px;
  border-radius: 7px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  background-color: white;

  /* position: sticky; */
  position: fixed;
  top: 200px;
  /* left: calc(50px * 29); */
  right: 50px;
  z-index: 999;
}

.main_Search_Input 
{
  width: 90%;
  height: 100%;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 7px;
  margin-right: 10px;
  outline: none;
}

.main_Search_Btn 
{
  width: 70px;
  height: 40px;
  background-color: #f8c8c8;
  color: black;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.box_Search_Container 
{
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  gap: 10px;
}

.box_slider
{
	/* grid-column: 1 / 4; */
  width: 150px;
  /* grid-row: 4/ 16; */
  height: 285px;
	
	width: 100%;
	overflow: hidden;
	position: relative;
}

.box_slider img
{
	width: 100%;
	object-fit: cover;
	flex-shrink: 0;
	overflow: hidden;
	position: relative;
}

.box_slider:hover .slider_arrow 
{
	opacity: 1;
}

.slider_track 
{
	display: flex;
	transition: transform 1s linear;
}
        
.slider_arrow
{
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	background-color: rgba(255, 255, 255, 0);
	color: black;
	border: none;
	width: 100px;
	height: 100px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
	opacity: 0;
	transition: opacity 0.3s ease;
}

.slider_track img:first-child 
{
	display: block;
}

.slider_arrow.left
{
	left: 0;
}

.slider_arrow.right
{
	right: 0;
}

.wishlist_Row 
{
  display: flex;
  gap: 10px;
  position: relative;
}

.wishlist_arrow 
{
	background-color: rgba(255, 255, 255, 0);
	color: black;
  font-size: 20px;
  border: none;
  cursor: pointer;
  z-index: 2;
}

.wishlist_Item_Container 
{
  display: flex;
  overflow: hidden;
  justify-content: flex-start;
  gap: 20px;
  position: relative;
  padding: 10px;
}

.wishlist_Item_Card 
{
  width: 120px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ddd;
  padding: 10px;
}

.wishlist_Item
{
  display: flex;
  align-items: center;
  justify-content: center;
}

.wishlist_Item_Card input,
.cart_Item input
{
  width: 100%;
  height: 120px;
  border: 1px solid #ccc;
}

.text_Wishlist
{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  margin-left: 15px;
  color: #333;
  width: 100%;
}

.btn_cartlist
{
  width: 100%;
  height: 40px;
  background-color: #f8c8c8;
  color: black;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
}

.cart_Item
{
  border: 1px solid #ccc;
  border-radius: 7px;
  padding: 10px;
}

.cart_Item input
{
  margin-bottom: 10px;
}

.table_Itemlist
{
  border: 1px solid #ccc;
  text-align: center;
  width: 22%;
  height: 280px;
  padding: 5px;
  margin: 5px;
  padding-top: 13px;
}

.box_Itemlist input
{
  width: 180px;
  height: 180px;
  border: 1px solid #ccc;
}

.text_Recommend 
{
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #333;
  width: 100%;
  margin-left: 15px;
}

.btn_Category 
{
  color: black;
  text-align: center;
  font-size: 16px;
  font-weight: 550; 
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-top: 15px;
  padding-bottom: 15px;
  margin: 0px 10px;
  height: 150px;
}

.box_Category:hover .list_Category
{
  opacity: 1;
  max-height: 500px;
  transition: opacity 1s ease, max-height 1s ease;
}

.list_Category
{
  display: block;
  position: absolute;
  background-color: white;
  width: 170px;
  z-index: 1;
  opacity: 0;
  max-height: 0;
  overflow: hidden;
  transition: opacity 0.1s ease, max-height 0.1s ease;    
  left: -350%;
  top: 35%;
  border: 1px solid #ddd;
}

.btn_Main_Category
{  
  border: none;
  background-color: white;
  font-size: 15px;
  text-align: left;
  cursor: pointer;
  padding: 3px;
  margin: 15px;
  border-bottom: 1px solid #ddd;
  display: block;
  width: 80%;
}

.wishlist
{
  display: flex;
}

.wishlist_Item_Image
{
  width: 100px;
  height: 100px;
  cursor: pointer;
}

.wishlist_Item_Title,
.wishlist_Item_Price
{
  font-size: 14px;
}

.wishlist_Item_Title
{
  height: 42px;
  overflow: hidden;
  font-weight: bold;
}

.wishlist_Not_Login,
.wishlist_No_Item
{
  margin: 50px 0;
}

.itemlist_Item_Image
{
  width: 180px;
  height: 180px;
  cursor: pointer;
}

.itemlist_Item_Title,
.itemlist_Item_Price
{
  font-size: 14px;
}

.itemlist_Item_Title
{
  height: 42px;
  overflow: hidden;
  font-weight: bold;
  margin-top: 10px;
}

.sort-container {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.sort-button {
  padding: 10px 15px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  border-radius: 5px;
  transition: background 0.3s, transform 0.2s;
}

.sort-button.asc {
  background: #4caf50;
  color: white;
}

.sort-button.desc {
  background: #f44336;
  color: white;
}

.sort-button:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.box_No_Result
{
  height: 400px;
  padding: 150px 0px;
  font-size: 20px;
  font-weight: bold;
}
.cart_item_img{
  width: 100%;
  border-radius: 3px;
}
.cart_item_div{
  padding: 5px 5px 3px 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f8e1e1;
}