.layout_Auth
{  
	margin: auto;
	/* display: grid; */
	/* grid-template-columns: repeat(19, 100px); */
	grid-template-rows: repeat(24, 30px);
  padding-top: 40px;
  display: flex;
  justify-content: center;
}

.box_Auth
{
  /* grid-column: 8 / 13; */
  width: 500px;
  /* grid-row: 5 / 21; */
  height: 480px;
  margin: 120px 0;
  
  border-radius: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  border: 1px solid black;
}

.Auth_Email, .Auth_Pw
{
  width: 300px;
  height: 30px;
	outline: none;
	font-size: 20px;
	padding: 10px;
  border: 1px solid black;
}

.Auth_Email
{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.Auth_Pw
{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: -7px;
  margin-bottom: 50px;
}

.Auth_Email:focus,
.Auth_Pw:focus
{ 
  position: relative;
  z-index: 10; 
  border: 1px solid #FF3636;
}

.btn_Auth
{
  width: 219px;
  height: 54px;
  border: none;
  background-color: #FF3636;
  color: white;
  font-size: 17px;
  font-weight: 700;
  border-radius: 7px;
  margin-bottom: 10px;
  cursor: pointer;
}

.btn_Social
{
  margin-bottom: 10px;
  width: 219px;
  height: 54px;
}

.btn_Join
{
  
  cursor: pointer;
}

.error_Message
{
  color: red;
  position: absolute;
  top: 390px;
  font-size: 16px;
}